.accordeon {
    display: flex;
    flex-direction: column;
    padding-top: rem(50px);
    @include tablets() {
        padding-top: rem(20px);
    }
}


.accordeon__item {
    color: #fff;
    margin-bottom: rem(35px);

    &:last-child {
        margin-bottom: 0;
    }
}

.accordeon_active {
    
    .accordeon__title:before {
        transform: rotate(180deg);
        bottom: rem(5px);
    }

    .accordeon__title {
        color: $yellow;
    }

    .accordeon__desc {
        height: 100%;
        overflow: visible;

        @include tablets() {
            flex-direction: column;
            align-items: center;
        }
    }
}

.accordeon__title {
    @include gagalin();
    font-size: 14px;
    text-decoration: none;
    padding-left: rem(20px);
    position: relative;
    transition: .3s;
    
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $yellow;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(-100%);
    }

    &:hover {
        color: $yellow;
    }
}

.accordeon__desc {
    display: flex;
    padding-top: rem(20px);
    height: 0;
    overflow: hidden;
}

.accordeon__img {
    max-width: rem(100px);
    width: 100%;
    height: rem(100px);
    border-radius: 50%;
    background: url('./../img/content/team/aphex.jpg') center center / cover no-repeat;
    margin-right: rem(20px);

    @include tablets() {
        margin: 0;
        margin-bottom: rem(10px);
    }
}

.accordeon__text {
    font-size: 14px;
}

.accordeon__subtitle {
    @include ubuntu(bold);
    margin-bottom: rem(10px);
}

.accordeon__text {
    @include ubuntu(light);
    max-width: rem(220px);
}