.best {
    background: url('../img/bg/best-bg.jpg') center center / cover no-repeat;
}

.best__list {
    display: flex;
    padding-top: rem(50px);
}

.best__item {
    flex: 1;
    margin-right: rem(35px);
    text-align: center;

    &:last-child {
        margin-right: 0;
    }
}

.best__piture {
    margin-bottom: rem(40px);
}

.best__title {
    font-size: rem(24px);
    @include lifehack();
    margin-bottom: rem(20px);
}

.best__desc-text {
    opacity: .8;
    @include ubuntu(light); // почему не подключается нужный шрифт?
    font-size: rem(14px);
}