.best {
    background: url('../img/bg/best-bg.jpg') center center / cover no-repeat;
}

.best__list {
    display: flex;
    padding-top: rem(50px);

    @include tablets {
        padding-top: rem(30px);
    }

    @include phones {
        flex-direction: column;
        padding-top: rem(10px);
    }
}

.best__item {
    flex: 1;
    margin-right: rem(35px);
    text-align: center;

    &:last-child {
        margin-right: 0;
    }

    @include phones {
        margin-right: 0;
        display: flex;
        justify-content: space-around;
        margin-bottom: rem(45px);
    }
}

.best__piture {
    margin-bottom: rem(40px);

    @include phones {
        margin: auto 0;
    }
}

.best__desc {

    @include phones {
        max-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
}


.best__title {
    font-size: 24px;
    @include lifehack();
    margin-bottom: rem(20px);

    @include phones {
        text-align: left;
    }
}


.best__desc-text {
    opacity: .8;
    @include ubuntu(light);
    font-size: 14px;

    @include phones {
        text-align: left;
    }
}