.btn {
    padding: 10px 16px;
    border-radius: 5px;
    background: $red;
    text-transform: uppercase;
    color: #fff;
    @include ubuntu(medium);
    font-size: 13px;
    transition: .5s;
    &:focus {
        outline: none;
    }
    &:hover {
        background: $hover-orange;
        transition: .5s;
    }
}