.fixed-menu {
    position: fixed;
    top:rem(95px);
    right: rem(100px);
    
    
    @include laptop {
        display: none;
    }
    
}

.fixed-menu__item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid transparent;
    margin-bottom: rem(7px);
    position: relative;
    cursor: pointer;
    transition: .5s;

    &:last-child {
        margin-bottom: 0;
    }

    &:after {
        content: "";
        width: 6px;
        height: 6px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.fixed-menu {
    &>.section_active {
        border: 1px solid #fff;
    }
}
// .fixed-menu__active {
    
// }