.hamburger {
    background: rgba($black, .98);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    position: fixed;
    z-index: 2;
    //display: flex;
}

.hamburger__nav {
    height: max-content;
    margin: auto;
}

.hamburger__item {
    @extend .nav__item;
    margin-right: 0;
    margin-bottom: rem(50px);
    position: relative;
    justify-content: center;

    &:last-child {
        margin-bottom: 0;
    }

    &:after {
        position: absolute;
        bottom: rem(-25px);
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0;
    }
}

.hamburger__link {
    @extend .nav__link;
    @include ubuntu(regular);
    font-size: 24px;
}

.hamburger__menu-close {
    position: absolute;
    right: 5%;
    top: 5%;
    opacity: .7;
    cursor: pointer;
    padding: 17px;

    &:hover {
        opacity: 1;
    }

    &_bars {
        @extend .hamburger-menu-link__bars;
        position: absolute;
        transform: translateX(-50%);
        height: 0;

        &:after {
            transform: rotate(45deg);
            top: 0;
        }

        &:before {
            transform: rotate(-45deg);
            top: 0;
        }
    }
}