.slider__dots {
  width: 940px;
  height: 75px;
  background: rgba(#fff, .2);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  @include laptop() {
    display: none;
  }
}

.slider__dots_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  opacity: .6;
  transition: .3s;
  
  &:hover {
    opacity: 1;
  }
}

 .slider__dots_active {
  opacity: 1;
 }

.slider__dots_pic {
  background: center center / cover no-repeat;
}