.logo {
    width:98.265px;
    height:74.317px;
}

.arrow-scroll {
    width: rem(28.685px);
    height: rem(14.479px); 
}

.meat {
    width: rem(96.428px);
    height: rem(89.246px);
}

.hand {
    width: rem(73px); 
    height: rem(85.875px);
}

.natural {
    width: rem(88px); 
    height: rem(75.534px);
}

.phone {
    width: 11px;
    height: 11px;
    margin-right: rem(7px);
}

.vk {
    width: 23px;
    height: 13px;
}

.fb {
    width: 20px;
    height: 20px;
}

.inst {
    width: 20px;
    height: 20px;
}

.twitter {
    width: 20px;
    height: 16px;
}