.logo {
    width:98.265px;
    height:74.317px;
    z-index: 3;
}

.arrow-scroll {
    width: rem(28.685px);
    height: rem(14.479px); 
}

.meat {
    width: rem(96.428px);
    height: rem(89.246px);
}

.hand {
    width: rem(73px); 
    height: rem(85.875px);
}

.natural {
    width: rem(88px); 
    height: rem(75.534px);
}

.phone {
    width: 11px;
    height: 11px;
    margin-right: rem(7px);
}

.vk {
    width: 23px;
    height: 13px;
}

.fb {
    width: 20px;
    height: 20px;
}

.inst {
    width: 20px;
    height: 20px;
}

.twitter {
    width: 20px;
    height: 16px;
}

.burger {
    width: 45.748px;
    height: 44.625px;
}

.beef {
    width: 44px;
    height: 39.212px;
}

.buns {
    width: 48px;
    height: 30.317px;
}

.salad {
    width: 38px;
    height: 38.638px;
}

.sauce {
    width: 40.189px;
    height: 43.416px;
}

.cucumber {
    width: 42px;
    height: 37.754px;
}

.cheese {
    width: 38.126px;
    height: 34.138px;
}

.kkal {
    width: 60px;
    height: 60.178px;
}