.logo {
    width:98.265px;
    height:74.317px;
}

.arrow-scroll {
    width: 28.685px;
    height: 14.479px; 
}

.meat {
    width: 96.428px;
    height: 89.246px;
}

.hand {
    width: 73px; 
    height: 85.875px;
}

.natural {
    width: 88px; 
    height: 75.534px;
}

.phone {
    width: 11px;
    height: 11px;
    margin-right: 7px;
}

.vk {
    width: 23px;
    height: 13px;
}

.fb {
    width: 20px;
    height: 20px;
}

.inst {
    width: 20px;
    height: 20px;
}

.twitter {
    width: 20px;
    height: 16px;
}