.title {
    font-size: 72px;
    @include gagalin();
    color: $yellow;
    margin-bottom: 30px;
    line-height: 1;

    &_color_black {
        color: $black;
    }

    &_color_white {
        color: #fff;
    }

    &_centered {
        text-align: center;
    }

}