.hamburger-menu-link {
    display: none;
    align-items: center;
    margin: 0 25px;;

    @include laptop() {
        display: flex;
    }
}

.hamburger-menu-link__bars {
    width: 25px;
    height: 4px;
    border-radius: 3px;
    background: #fff;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 10px;
        width: 25px;
        height: 4px;
        border-radius: 3px;
        background: #fff;
    }

    &::before {
        content: '';
        position: absolute;
        top: -10px;
        width: 25px;
        height: 4px;
        border-radius: 3px;
        background: #fff;
    }
}